"" Source your .vimrc
"source ~/.config/nvim/init.vim

set number
set relativenumber
set hlsearch
set ignorecase
set incsearch
set cursorline
set scrolloff=8
set visualbell

" Don't use Ex mode, use Q for formatting.
let mapleader = " "
map Q gq
vnoremap <leader>y "+y
nnoremap <leader>y "+y
nnoremap <leader>Y gg"+yG
nnoremap <leader>d yyp
vnoremap <leader>d y'>p
nnoremap <leader>p a <ESC>p
nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz

" Idea specific config
set ideajoin

map <leader>tf <Action>(ReformatCode)
map <leader>tn <Action>(RenameElement)
map <leader>fu <Action>(FindUsages)
map <leader>fr <Action>(RecentFiles)
map <leader>fs <Action>(GotoClass)
map <leader>ff <Action>(GotoFile)
map ge <Action>(ShowErrorDescription)
map gs <Action>(CheckinProject)
map gl <Action>(ActivateVersionControlToolWindow)
map gnb <Action>(GitNewBranchAction)
map <leader>ps <Action>(FindInPath)
imap <C-y> <Action>(EditorChooseLookupItem)

map <C-o> <Action>(Back)
map <C-i> <Action>(Forward)
map ]d <Action>(GotoNextError)
map [d <Action>(GotoPreviousError)

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)

vnoremap > >gv
vnoremap < <gv

" Find more examples here: https://jb.gg/share-ideavimrc
Plug 'machakann/vim-highlightedyank'

